#app-grid{
  margin: 5% 0;
  ul.masonry-wrapper{
    position: relative;
    padding: 0;
    margin: 0;
    li.shot{
      width: 29%;
      display: inline-block;
      padding: 0;
      margin: 0 2% 50px;
      overflow: hidden;
      list-style-type: none;
      position: absolute;
      // Hover effect
      &.is-hover{
        .shot-overlay{
          opacity: 1;
          transition: all .2s ease-in;
          .shot-main-information{
            opacity: 1;
            transform: translateY(0%);
            transition: all .5s ease-in-out;
          }
          .shot-meta{
            opacity: 1;
            transform: translateY(0%);
            transition: all .6s ease-in;
          }
        }
      }
      img{
        width: 100%;
        height: auto;
      }
      .shot-overlay{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        opacity: 0;
        transition: all .2s ease-out;
        align-items: center;
        text-align: center;
        background: rgba(0,0,0,.6);
        color: #a2a2a2;
        // We use another div to center vertically
        .shot-overlay-content{
          width: 100%;
        }
        .shot-main-information{
          width: 100%;
          transform: translateY(100%);
          opacity: 0;
          transition: all .2s ease-out;
          h3{
            display: block;
            color: #ffffff;
            font-weight: 600;
          }
          h4{
            img{
              width: 40px;
              height: 40px;
              border-radius: 50%;
              display: inline-block;
              margin-right: 10px;
            }
            span{
              display: inline-block;
              font-weight: 300;
            }
          }
        }
        .shot-meta{
          transform: translateY(100%);
          opacity: 0;
          transition: all .2s ease-out;
          width: 100%;
          ul{
            display: flex;
            width: 100%;
            margin-left: 0;
          }
          li{
            width: 33.3%;
            text-transform: uppercase;
            span{
              color: #ffffff;
              font-weight: 600;
              display: block;
            }
          }
        }
      }
    }
  }
  .app-loader{
    padding: 10% 0;
    text-align: center;
    // Inspired from: https://connoratherton.com/loaders
    div{
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin: 2px;
      border: 2px solid $brand-primary;
      border-bottom-color: transparent;
      background: 0 0!important;
      -webkit-animation: rotate .75s 0s linear infinite;
      animation: rotate .75s 0s linear infinite;
    }
    @keyframes rotate{
      0%{
        -webkit-transform:rotate(0);
        transform:rotate(0);
      }
      50%{
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
      }
      100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)}

    }
  }
  #app-pagination{
    margin: 5% 0;
    a.btn.btn-success{
      border-radius: 40px;
      padding: 10px 30px 8px 30px;
      font-size: 18px;
      background: $brand-primary;
      border:0;
      transition: background .2s ease-out;
      &:hover{
        background: lighten($brand-primary, 10%);
        transition: background .3s ease-in;
      }
    }
  }
}