#app-grid{
  margin: 5% 0;
  ul{
    position: relative;
    padding: 0;
    margin: 0;
    li.shot{
      width: 29%;
      display: inline-block;
      padding: 0;
      margin: 0 2% 50px;
      overflow: hidden;
      list-style-type: none;
      position: absolute;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
  .app-loader{
    padding: 10% 0;
    text-align: center;
    // Inspired from: https://connoratherton.com/loaders
    div{
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin: 2px;
      border: 2px solid $brand-primary;
      border-bottom-color: transparent;
      background: 0 0!important;
      -webkit-animation: rotate .75s 0s linear infinite;
      animation: rotate .75s 0s linear infinite;
    }
    @keyframes rotate{
      0%{
        -webkit-transform:rotate(0);
        transform:rotate(0);
      }
      50%{
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
      }
      100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg)}

    }
  }
  #app-pagination{
    margin: 5% 0;
    a.btn.btn-success{
      border-radius: 40px;
      padding: 10px 30px 8px 30px;
      font-size: 18px;
      background: $brand-primary;
      border:0;
      transition: background .2s ease-out;
      &:hover{
        background: lighten($brand-primary, 10%);
        transition: background .3s ease-in;
      }
    }
  }
}