@media (max-width: 992px) {
  #app-grid {
    ul {
      li.shot {
        width: 46%;
        margin: 0 2% 50px;
      }
    }
  }
}
@media (max-width: 600px) {
  #app-grid {
    ul {
      li.shot {
        width: 96%;
        margin: 0 2% 30px;
      }
    }
  }
}